body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("img/back.jpg");
}

@font-face {
  font-family: "Digital";
  src: url(fonts/DigitalNumbers-Regular.ttf);
}

@font-face {
  font-family: "Digital Round";
  src: url(fonts/e1234.regular.ttf);
}

.scrollbar::-webkit-scrollbar {
  background-color: #121212d8;
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #121212d8;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #121212d8;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 3px solid #121212d8;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #babac0;
  border: 2px solid #121212d8;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar {
  min-width: 150px;
  overflow-y: scroll;
}
.overflow {
  min-height: 100vh;
}

.wrap {
  position: relative;
  max-width: 600px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 600px;
  padding: 90px 0;
  background-color: #121212d8;
  border-radius: 20px;
  position: relative;
}

.controlls {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.control-btn {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.other-cont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#volume {
  width: 300px;
}

:root {
  --slider-width: 300px;
  --slider-height: 10px;
}

input[type="range"] {
  cursor: pointer;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    width: var(--slider-width);
    -webkit-appearance: none;
    background-color: #353535;
    border-radius: 20px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: var(--slider-height);
    -webkit-appearance: none;
    color: #018786;
    margin-top: -1px;
  }
  input[type="range"]::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: var(--slider-height);
    box-shadow: calc(-1 * var(--slider-width)) 0 0 var(--slider-width) #43e5f7;
  }
}

input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-thumb {
  height: var(--slider-height);
  width: 0;
  border: none;
  box-shadow: calc(-1 * var(--slider-width)) 0 0 var(--slider-width) #43e5f7;
  box-sizing: border-box;
}

input[type="range"]::-ms-fill-lower {
  background-color: #018786;
}
input[type="range"]::-ms-fill-upper {
  background-color: #018786;
}

.progress[type="range"]::-moz-range-progress {
  background-color: #fff;
}
.progress[type="range"]::-ms-fill-lower {
  background-color: #fff;
}
.progress[type="range"]::-ms-fill-upper {
  background-color: #fff;
}
.progress[type="range"]::-moz-range-thumb {
  height: var(--slider-height);
  width: 0;
  border: none;
  box-shadow: calc(-1 * var(--slider-width)) 0 0 var(--slider-width) #fff;
  box-sizing: border-box;
}
.progress[type="range"]::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  height: var(--slider-height);
  box-shadow: calc(-1 * var(--slider-width)) 0 0 var(--slider-width) #fff;
}

#play {
  background-color: #fff;
  border-radius: 50%;
}

#play img {
  width: 50px;
  padding: 10px;
}

#next img,
#prev img {
  width: 50px;
}

.song-back-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-back__img {
  max-width: 300px;
  margin-bottom: 20px;
}

.song-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.artist {
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.volume {
  display: flex;
  align-items: center;
  position: relative;
}

.volume input {
  height: 10px;
}

.volume img {
  position: absolute;
  max-width: 50px;
  left: -60px;
  top: -18px;
}

.tooltip {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 4px;
  display: none;
  font-size: 12px;
  pointer-events: none;
}

.song-progress {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.song-progress input {
  width: 60%;
  margin-bottom: 20px;
}

.time {
  color: #fff;
  font-size: 14px;
}

.add-music {
  position: absolute;
  background-color: #121212d8;
  padding: 10px 15px;
  border-radius: 10px;
  right: 50px;
  bottom: 20px;
  cursor: pointer;
  border: none;
}

.add-modal {
  display: none;
  position: absolute;
  right: 20px;
  bottom: 100px;
  background-color: #111;
  color: #fff;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.drop-area.dragover {
  border-color: #000;
  background-color: #f0f0f0;
}

.playlist {
  padding-left: 0;
  background-color: transparent;
}

.playlist li {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.playlist li:last-child {
  border-bottom: none;
}

.playlist li:hover,
.playlist li:focus {
  color: #bb86fc;
}

.playlist-item {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.song-info {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.playlist-item.active .song-info {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.playlist-item.active {
  color: #bb86fc;
}

.playlist-item.dragging {
  opacity: 0.5;
}

.playlist-btn {
  position: absolute;
  left: 50px;
  bottom: 20px;
  z-index: 10;
  border: none;
  background-color: #121212d8;
  padding: 10px 15px;
  cursor: pointer;
}

.playlist-btn:hover,
.playlist-btn:focus {
  padding: 20px 30px;
}

.playlist-btn:hover img,
.playlist-btn:focus img {
  width: 30px;
}

.playlist button {
  cursor: pointer;
}

.delete-button {
  display: none;
  margin-left: 10px;
}

.playlist-item:hover .delete-button {
  display: inline;
}

.delButton {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  padding: 4px 8px;
}

.delButton:hover,
.delButton:focus {
  color: #000;
  background: #fff;
}

.icon-open {
  cursor: pointer;
  max-width: 60px;
  display: flex;
  justify-content: center;
  background-color: #121212d8;
  padding: 10px;
  border-radius: 10px;
}

.icon-open img:first-child {
  width: 60px;
}

.menu {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-functions {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-top: 50px;
}

#playlist-wrap {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: self-start;
  background-color: #121212d8;
  height: 100%;
  padding: 20px;
  row-gap: 20px;
  width: 560px;
  z-index: 20;
}

#download-wrap {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: self-start;
  background-color: #121212d8;
  height: 100%;
  padding: 20px;
  row-gap: 20px;
  width: 560px;
  z-index: 20;
}

#createPlaylistButton {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  flex: 0.3;
}

#createPlaylistButton:hover,
#createPlaylistButton:focus {
  color: #000;
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
}

#playlistName {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
  margin-right: 20px;
  flex: 0.7;
}

#playlistName::placeholder {
  color: #fff;
  font-size: 14px;
}

#renamePlaylistInput {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
  margin-right: 20px;
  flex: 0.7;
}

#confirmRenameButton {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  flex: 0.3;
}

#confirmRenameButton:hover,
#confirmRenameButton:focus {
  color: #000;
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
}

.playlist-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

#playlistsDiv {
  color: #fff;
  font-size: 24px;
  border: 1px solid #fff;
  padding: 5px 20px;
  cursor: pointer;
}

#renamePlaylistButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#deletePlaylist {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#renamePlaylistButton img {
  max-width: 30px;
}

#deletePlaylist img {
  max-width: 30px;
}

#createPlaylist {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#createPlaylist img {
  max-width: 30px;
}

#addSong {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#addSong img {
  max-width: 30px;
}

#space {
  height: 40px;
  width: 400px;
}
#createPlaylistCont {
  display: none;
  height: 40px;
  width: 100%;
}

#rename-playlist {
  display: none;
  height: 40px;
  width: 100%;
}

#delete-playlist {
  display: none;
  height: 40px;
  width: 400px;
}

.playlists-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  background-color: #111;
  color: #fff;
  font-size: 22px;
  border: 1px solid #fff;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: auto;
}

#delete-playlist {
  justify-content: space-between;
  width: 100%;
}

.del-buttons {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 18px;
  width: 49%;
  transition: all 0.5s ease;
  cursor: pointer;
}

.del-buttons:hover,
.del-buttons:focus {
  color: #000;
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
}

.playlists-dropdown div {
  cursor: pointer;
  padding: 5px 0;
}
.playlists-container {
  width: 180px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

#searchInput {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 18px;
  padding: 5px 10px;
  color: #fff;
}

#searchInput::placeholder {
  color: #fff;
}

#sortSelect {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 18px;
  padding: 5px 10px;
  color: #fff;
}

option {
  color: #000;
}

#playlist {
  display: flex;
  flex-direction: column;
  color: #fff;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.song-name {
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  width: 95%;
}

.renameInp {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  padding: 5px 15px;
}

.download-title {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

#youtubeInput {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  flex: 0.7;
  margin-right: 20px;
  padding: 5px 10px;
}

#youtubeInput::placeholder {
  color: #fff;
}

.download-url-cont {
  display: flex;
  width: 100%;
}

#downloadButton {
  flex: 0.3;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  flex: 0.3;
}

#downloadButton:hover,
#downloadButton:focus {
  color: #000;
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
}

.loading-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-modal-content {
  color: #fff;
  font-size: 18px;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progressDownloadBar {
  width: 100%;
}

.path-title {
  color: #fff;
  font-size: 28px;
  margin-right: 30px;
  flex: 0.7;
}

#chooseChromeButton {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  flex: 0.3;
}

#chooseChromeButton:hover,
#chooseChromeButton:focus {
  color: #000;
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
}

#settings-wrap {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: self-start;
  background-color: #121212d8;
  height: 100%;
  padding: 20px;
  row-gap: 20px;
  width: 560px;
  z-index: 20;
}

.path-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

#off-btn {
  margin-bottom: 50px;
}

.context-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rc-menu-btn {
  background-color: #111;
  color: #fff;
  border: 1px solid #6d6d6d;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  width: 100px;
}

.rc-menu-btn:hover,
.rc-menu-btn:focus {
  background-color: #2c2c2c;
}

#backgrounds {
  display: flex;
  flex-wrap: wrap;
}

#addBack {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#addBack img {
  max-width: 30px;
}

.background-title {
  font-size: 28px;
  color: #fff;
}

.background-wrap {
  width: 100%;
}

.clock {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  font-family: "Digital";
  z-index: 1;
}

.clock span {
  color: transparent;
  background-image: linear-gradient(135deg, #ff0099, #61d32c);
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0 1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(32px);
}

#gradient-start {
  cursor: pointer;
  width: 58px;
}

#gradient-end {
  cursor: pointer;
  width: 58px;
}

.controls {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.clock-title {
  color: #fff;
  font-size: 28px;
}

.clock-settings {
  color: #fff;
  font-size: 22px;
}

.control-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#font-size {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 15px;
  width: 25px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.font-type {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
}

.player-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  cursor: grab;
  background-color: transparent;
}

#centerWrapButton {
  padding: 10px 20px;
  cursor: pointer;
  z-index: 50;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

#centerWrapButton:hover,
#centerWrapButton:focus {
  color: #000;
  background-color: #ffffffa6;
  border: 1px solid #ffffffa6;
}

.supp-buttons-cont{
  padding: 20px 0;
  display: flex;
}

.other-styles{
  padding-top: 20px;
  border-top: 1px solid #fff;
  width: 100%;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}

.other-settings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-title{
  color: #fff;
  font-size: 22px;
}